modules = ["python-3.11"]

[deployment]
deploymentTarget = "cloudrun"
run = ["python", "main.py"]

[[ports]]
localPort = 5000
externalPort = 80

[nix]
packages = ["freetype", "glibcLocales"]

[agent]
expertMode = true

[userenv]

[userenv.shared]
CURRENT_DATABASE = "POSTGRESQL"
