{% extends "base.html" %}

{% block title %}
Superadministración
{% endblock %}

{% block content %}

    <div class="form-card">

        <h1>
            Superadministración
        </h1>

        <br>

        <p>
            Desde este panel es posible realizar tareas de mantenimiento
            exclusivas del superadministrador.
        </p>

        <br>

        <hr>

        <br>
    
        <h2>
            Restablecimiento de contraseñas
        </h2>
    
        {% if solicitudes %}
    
            {% for usuario in solicitudes %}
    
                <div>
                    {{ usuario["username"] }}
    
                    <a href="{{ url_for(
                        'restablecer_clave',
                        usuario_id=usuario['id']
                    ) }}">
                        Atender
                    </a>
                </div>
    
            {% endfor %}
    
        {% else %}
    
            <p>
                No hay solicitudes pendientes.
            </p>
    
        {% endif %}
    
    </div>

{% endblock %}